# Ignore images
*.png
*.jpg
*.jpeg
*.bmp
*.gif

# Ignore datasets
dataset/
data/
images/

# Ignore python junk
__pycache__/
*.pyc

# Ignore checkpoints
*.pth
*.pt
*.ckpt


# Virtual environments
venv/
.venv/
env/
ENV/
my_environment/
.my_environment/

# Python environment files
*.egg-info/
pip-wheel-metadata/
